<div class="container-fluid">

  <!-- login -->
  <section class="row justify-content-end m-1">
      <div class="card text-white bg-dark mb-3 my-3" style="max-width: 18rem;">
        <div class="card-header">Log In</div>
        <div class="card-body">
          <!-- username -->
          <div class="input-group input-group-sm">
            <div class="input-group-prepend">
              <div class="input-group-text">@</div>
            </div>
            <input type="text" [(ngModel)]="loginUsername" class="form-control" id="inlineFormInputGroupUsername" placeholder="Username" />
          </div>
          <br />

          <!-- password -->
          <div class="input-group input-group-sm">
            <div class="input-group-prepend">
              <div class="input-group-text">*</div>
            </div>
            <input type="password" [(ngModel)]="loginPassword" class="form-control" id="inlineFormInputGroupUsername" placeholder="Password" />
          </div>
          <br />

          <div class="row justify-content-center">
            <button type="button" (click)="navigateToHome()" class="btn btn-primary btn-sm">
              Log In
            </button>
          </div>
        </div>
      </div>
    </section>

    <section class="row justify-content-end m-1">
      <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
        <div class="card-header">Sign Up</div>
        <div class="card-body">
          <h5 class="card-title">Register ?</h5>

          <!-- username -->
          <div class="input-group input-group-sm">
            <div class="input-group-prepend">
              <div class="input-group-text">@</div>
            </div>
            <input type="text" class="form-control" id="inlineFormInputGroupUsername" placeholder="Username" />
          </div>
          <br />

          <!-- email -->
          <div class="input-group input-group-sm">
            <div class="input-group-prepend">
              <div class="input-group-text">@</div>
            </div>
            <input type="text" class="form-control" id="inlineFormInputGroupEmail" placeholder="Email" />
          </div>
          <br />

          <!-- password -->
          <div class="input-group input-group-sm">
            <div class="input-group-prepend">
              <div class="input-group-text">*</div>
            </div>
            <input type="password" class="form-control" id="inlineFormInputGroupUsername" placeholder="Password" />
          </div>
          <br />

          <div class="row justify-content-center">
            <button type="button" class="btn btn-dark btn-sm">Sign Up</button>
          </div>
        </div>
      </div>
    </section>

  </div>

