main {
  height: 100vh;
}

.log-in {
  background-color: #23272B;
  border-radius: 2em 6em 2em 6em / 4em 2em 4em 2em;
  border: 2px;
}

.login-inputs {
  border: 0px !important;
}

::placeholder {
  color: rgb(66, 64, 64);
  text-align: center;
  font-weight: 400;
}
