
<main class="row col-12 m-0 align-items-center justify-content-center">

  <!-- login -->
  <section class="row col-4 align-content-center justify-content-center h-50 log-in">
    <input type="text" [(ngModel)]="loginUsername" class="form-control login-inputs col-7" id="inlineFormInputGroupUsername" placeholder="Username" (keyup.enter)="navigateToHome()"/>
    <br><br>
    <input type="password" [(ngModel)]="loginPassword" class="form-control login-inputs col-7" id="inlineFormInputGroupUsername" placeholder="Password" (keyup.enter)="navigateToHome()"/>
    <br><br>
    <div class="row col-12 align-content-center justify-content-center">
      <button type="button" class="btn btn-info mr-2">Register</button>
      <button type="button" class="btn btn-success ml-2" (click)="navigateToHome()">Log In</button>
    </div>
    <p *ngIf="incorrectUsernameOrPass;" class="font-italic font-weight-lighter text-warning">Username or password is incorrect</p>
  </section>
</main>
