<main class="row col-12 m-0 p-0 overflow-scroll">
  <!-- Side-nav -->
  <nav id="mySidenav" class="sidenav" [style]="mySidenav">
    <a class="closebtn" (click)="closeNav()">&times;</a>
    <div class="justify-content-center">
      <img
        src="../../assets/profile-pic-home.jpg"
        id="profile-pic"
        class="w-25 mx-auto"
      />
    </div>
    <a>My Courses</a>
    <a>To Do List</a>
    <a>Tasks with alarm</a>
    <a>All Statistics</a>
  </nav>
  <span id="open-nav-span" (click)="openNav()" class="">&#9776;</span>

  <!-- Find courses input, button for adding courses, and courses -->
  <section class="col-11 mt-1 mx-1 h-auto">
    <!-- Add new course button -->
    <button
      data-micron="swing"
      data-micron-duration=".40"
      class="btn btn-dark col-1 float-left mt-3 h1"
      data-toggle="modal"
      data-target="#new-course"
    >
      +
    </button>

    <!-- New course modal -->
    <div
      class="modal fade"
      id="new-course"
      tabindex="-1"
      role="dialog"
      aria-labelledby="exampleModalCenterTitle"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">
              Add new course
            </h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
              (click)="closeModal()"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <!-- Modal body -->
            <label for="name" class="col-form-label">Course name:</label>
            <div class="input-group">
              <input
                type="text"
                [(ngModel)]="courseName"
                (keyup.enter)="addCourse()"
                class="form-control"
                autocomplete="off"
                maxlength="14"
                id="name"
                placeholder="Course name"
              />

              <select
                [(ngModel)]="selectedImportanceForAddingCourse"
                class="custom-select col-4"
                id="inputGroupSelect01"
              >
                <option value="Choose..." selected>Choose...</option>
                <option value="Unimportant">Unimportant</option>
                <option value="Very useful">Very useful</option>
                <option value="Fundamental">Fundamental</option>
              </select>
            </div>
            <span *ngIf="incorrectCourse" class="font-italic font-weight-lighter text-danger">Incorrect course name or importance is not selected</span>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
              (click)="closeModal()"
            >
              Close
            </button>
            <button
              type="button"
              (click)="addCourse()"
              class="btn btn-dark"
              data-micron="pop"
              data-micron-duration=".40"
            >
              Add
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- Find courses -->
    <div class="input-group mb-3 col-5 float-right mt-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">Find:</span>
      </div>
      <input
        type="text"
        class="form-control"
        (keyup)="findCourseWithSearchInput(findCourseInput, importanceStatesForFindInput)"
        placeholder="Course name"
        aria-label="Course name"
        aria-describedby="basic-addon1"
        [(ngModel)]="findCourseInput"
      />
      <div class="input-group-prepend">
        <button
          data-micron="fade"
          data-micron-duration=".40"
          [class]="importanceStatesClassForFindInput"
          (click)="findBasedOnImportance()"
          type="button"
        >
          {{ importanceStatesForFindInput }}
        </button>
      </div>
    </div>

    <!-- New courses -->
    <section class="row col-12" *ngIf="!findOrNo">
      <div
        *ngFor="let ci of courseList"
        [class]="addCardClass(ci.importance)"
        style="max-width: 18rem; clear: both"
      >
        <div class="card-header">
          <h5 class="card-title d-inline">{{ ci.title }}</h5>
          <span [class]="changeImportanceBadge(ci.importance)">{{
            ci.importance
          }}</span>
          <img
            src="../../assets/x-circle-fill.svg"
            class="float-right"
            (click)="deleteCourse(ci)"
          />
        </div>
        <div class="card-body">
          <p contenteditable="true">{{ ci.description }}</p>
          <hr />
          <!-- Start, pause, and time -->
          <img
            *ngIf="!ci.startOrPause; else pause"
            (click)="startCourseCountDown(ci)"
            src="../../assets/play-test.svg"
            class="start-pause-logo-img mx-1"
          />
          <ng-template #pause
            ><img
              (click)="pauseCourseCountDown(ci)"
              src="../../assets/pause-test.svg"
              class="start-pause-logo-img mx-1"
          /></ng-template>
          <span class="m-1 d-block">{{ ci.totalCountDown }}</span>
        </div>
      </div>
    </section>


    <!-- Courses who are found -->
    <section class="row col-12 find" *ngIf="findOrNo">
      <div
        *ngFor="let ci of findCourseList"
        [class]="addCardClass(ci.importance)"
        style="max-width: 18rem; clear: both"
      >
        <div class="card-header">
          <h5 class="card-title d-inline">{{ ci.title }}</h5>
          <span [class]="changeImportanceBadge(ci.importance)">{{
            ci.importance
          }}</span>
          <img
            src="../../assets/x-circle-fill.svg"
            class="float-right"
            (click)="deleteCourse(ci)"
          />
        </div>
        <div class="card-body">
          <p contenteditable="true">{{ ci.description }}</p>
          <hr />
          <!-- Start, pause, and time -->
          <img
            *ngIf="!ci.startOrPause; else pause"
            (click)="startCourseCountDown(ci)"
            src="../../assets/play-test.svg"
            class="start-pause-logo-img mx-1"
          />
          <ng-template #pause
            ><img
              (click)="pauseCourseCountDown(ci)"
              src="../../assets/pause-test.svg"
              class="start-pause-logo-img mx-1"
          /></ng-template>
          <span class="m-1 d-block">{{ ci.totalCountDown }}</span>
        </div>
      </div>

    </section>
  </section>
</main>
